$text-color-black: #000000;
$text-color-grey: #888c92;
$text-color-white: #ffffff;
$text-color-blue: #6495ed;

$color-grey: #888c92;
$color-grey2: #cccccc45;
$color-blue: #1973e9;
$color-blue2: #6495ed;
$color-red: #ff0000;
$color-white: #ffffff;

$height-box: 60px;
$unix: 5px;
$border-radius: 10px;
$border-btn: 1px solid $color-grey;
$border-tbl: 1px solid $color-grey2;
