.calendar {
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
  }

  &__week-container {
    position: relative;
    top: $height-box;
    display: flex;
    width: 100%;
    overflow-x: hidden;
  }
}
